<div class="container">
    <div class="col-sm-6 col-xs-12 col-md-3" ng-repeat="item in listProducts">
        <div class="thumbnail">
            <img style="height: 136px" src="{{getUrlImages(item.listMedia)}}" alt="{{item.title}}">
            <div class="caption">
                <h4>{{item.title}}</h4>
                <h4><strong class="label label-danger">Giá : {{item.price | currencyVND : ""}} VNĐ</strong></h4>
                <p style="height: 120px;
overflow: hidden;">{{item.desc}}</p>
                <p><a class="btn btn-primary" role="button" ng-click="buy(item)">Mua <span ng-if="item.countCart > 0" class="badge">{{item.countCart}}</span></a> <a ng-click="goToPage('detail',{id : item._id})" class="btn btn-default" role="button">Chi tiết</a></p>
            </div>
        </div>
    </div>

</div>